@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");
:root {
  /* All the colors to be used for the project are defined below.
  These are the nord color scheme(https://www.nordtheme.com/) colors with two additions: 
    a very dark color --dark-0 and 
    the pure white --silver-3
  */
  --dark-0: #242933; /* Darkest dark */
  --dark-1: #2e3440;
  --dark-2: #3b4252;
  --dark-4: #434c5e;
  --dark-5: #4c566a; /* Lightest dark */

  --silver-0: #d8dee9; /* Darkest white shade */
  --silver-1: #e5e9f0;
  --silver-2: #eceff4;
  --silver-3: #ffffff; /* Lightest white shade, basically white */

  --blue-0: #5e81ac; /* Darkest blue */
  --blue-1: #81a1c1;
  --blue-2: #88c0d0; /* Lightest blue */
  --blue-3: #8fbcbb; /* This is a kind of greenish blue color */

  /* Misc colors */
  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --purple: #b48ead;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light {
  color: var(--dark-0);
  background-color: var(--silver-2);
}

/*



.dark {
  color: var(--silver-2);
  background-color: var(--dark-1);
}



form a {
  color: #08c;
}

input {
  border-style: groove;
  text-align: center;
  padding: 0.8rem;
  font-size: 16px;
  width: 300px;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: var(--red);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.input-feedback {
  color: var(--red);
  margin-top: 0.25rem;
}

button {
  max-width: 150px;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #08c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
} */
a {
  color: #08c;
}

input {
  padding: 0.5rem;
  font-size: 16px;
  max-width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

button {
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #08c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.modalContent {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.closeModal {
  align-self: flex-end;
  font-size: 2.3em;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 960px) {
  .container {
    max-width: 90vw;
  }
  .grid {
    justify-content: space-evenly;
  }
}

@media (max-width: 960px) {
  .container {
    width: 100vw;
  }
  .grid {
    justify-content: center;
  }
}
form {
  font-size: 16px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  text-align: center;
  min-height: 60vh;
}

@media (max-width:600px) {
  .home {font-size: 3rem; }
}

.form-control {
  font-size: 16px;
}