.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 12px;
}

.timeline_content{
  box-shadow: 3px 6px 20px rgba(85, 85, 87, 0.849);
}

.timeline_content h2{
  margin-bottom: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #3da4ab;
  top: 18px;
  bottom: -18px;
  left: 50%;
  margin-left: -3px;
}

.timeline:last-child::after{
  content: "";
  height: 0;
}

/* Container around content */
.timeline_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline_container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #8ccbbe;
  border: 4px solid #0e9aa7;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.timeline .left {
  left: 0;
}

/* Place the container to the right */
.timeline .right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #f7f7f7;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f7f7f7;
}

/* Add arrows to the right container (pointing left) */
.timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #f7f7f7;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f7f7f7 transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline .right::after {
  left: -13px;
}

/* The actual content */
.timeline_content {
  padding: 20px 30px;
  background-color: #f7f7f7;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline_container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline .left::before, .timeline .right::before  {
    left: 60px;
    border: medium solid #f7f7f7;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f7f7f7 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline .left::after,
  .timeline .right::after {
    left: 18px;
  }

  /* Make all right containers behave like the left ones */
  .timeline .right {
    left: 0%;
  }
}

